
body{ 
  background-image: url('http://galaxynotewallpaper.org/media/images/1/2/14848.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.mytunes{ 
  margin: 0 auto;
  width: 400px;
}

